$main-color: #363537;
$secondary-color: #E6E8E6;
$accent-color: #6A8E7F;
$dark-mode-main-color: #040404;
$dark-mode-secondary-color: #9FA4A9;

body {
  background-color: $secondary-color;
  color: $main-color;
}

:link {
  text-decoration: none;
  color: $secondary-color;

}
h2 {
  color: $secondary-color;
}

.header {
  background-image: url("../public/vancouverTransparentskyline.png");
  background-repeat: no-repeat;
  background-size: 100% 80%;
  background-color: $main-color;
  color: $secondary-color;
  height: 400px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.header h2:hover {
  color: $accent-color;
}