$main-color: #363537;
$secondary-color: #E6E8E6;
$accent-color: #6A8E7F;
$dark-mode-main-color: #040404;
$dark-mode-secondary-color: #9FA4A9;

body {
  background-color: $secondary-color;
  color: $main-color;
  box-sizing: border-box;
}

:link {
  text-decoration: none;
  color: $secondary-color;

}
.header h2 {
  color: $secondary-color;
}

.header {
  background-image: url("../public/vancouverTransparentskyline.png");
  background-repeat: no-repeat;
  background-size: 100% 80%;
  background-color: $main-color;
  color: $secondary-color;
  height: 400px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.header h2:hover {
  color: $accent-color;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 30%;
  margin: auto;
}

.headshot {
  border-radius: 100%;
}

.footer {
  background-color: $main-color;
  color: $secondary-color;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.footer p {
  margin: 20px;
}
.hamburger {
  display: none;
}
button {
  background-color: $main-color;
}

@media screen and (max-width: 600px) {
  
    .header {
      display: block;
      height: 200px;
    }
    .hidden.menu-items {
      display: flex;
      flex-direction: column;
      background-color: $main-color;
      position: relative;
      bottom: -140px;

    }
    .menu-items {
      display: none;
    }
    .home {
      width: 80%;
    }
    .hamburger {
      display: block;
      position: relative;
      left: 5%;
      bottom: -140px;
    }
  
}